@font-face {
  font-family: "Vorsik";
  src: url("/cdn/fonts/Vorsik-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue";
  src: url("/cdn/fonts/NeueKonstantGrotesk-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Epilogue";
  src: url("/cdn/fonts/Epilogue-Variable.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/cdn/fonts/Inter.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/cdn/fonts/Geist[wght].ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
